@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-bold-webfont.woff2") format("woff2"),
    url("../asset/font/proximanova-bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-boldit-webfont.woff2") format("woff2"),
    url("../asset/font/proximanova-boldit-webfont.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-light-webfont.woff2") format("woff2"),
    url("../asset/font/proximanova-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-lightitalic-webfont.woff2")
      format("woff2"),
    url("../asset/font/proximanova-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-regitalic-webfont.woff2") format("woff2"),
    url("../asset/font/proximanova-regitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-regular-webfont.woff2") format("woff2"),
    url("../asset/font/proximanova-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-regularitalic-webfont.woff2")
      format("woff2"),
    url("../asset/font/proximanova-regularitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-semibold-webfont.woff2") format("woff2"),
    url("../asset/font/proximanova-semibold-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  src: url("../asset/font/proximanova-semibolditalic-webfont.woff2")
      format("woff2"),
    url("../asset/font/proximanova-semibolditalic-webfont.woff") format("woff");
  font-weight: 600;
  font-style: italic;
}
