// Base Colours

//PRIMARY COLORS
$clr-black: #000000;
$clr-white: #ffffff;
$clr-black3: #cbd2d9;
$clr-black4: #9aa5b1;
$clr-blue-light: #7db0ec;
$clr-blue-primary: #0967d2;
$clr-placeholder: #ccc;

//SYSTEM BASE FONT SIZE
$size-10: 0.625rem;
$size-12: 0.75rem;
$size-14: 0.875rem;
$size-16: 1rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
$size-36: 2.25rem;
$size-100: 6.25rem;
