// Variables
@import "./fonts";
@import "./variables";
@import "./components";
@import "./markers";
@import "./menu";
@import "./popover";

.cheese {
  display: flex;
  justify-content: space-between;
  min-width: 200px;
  position: relative;
  z-index: 10000;
}

// Default HTML
body {
  font-family: "ProximaNova", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  list-style: none;
}

// No Data strip.
.no-data {
  align-items: center;
  background-color: rgb(52, 57, 123);
  color: $clr-white;
  display: flex;
  justify-content: center;
  left: 50%;
  opacity: 0;
  padding: 14px 60px;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s ease-in-out;
  width: 100%;
  visibility: hidden;

  &-enabled {
    opacity: 0.5;
    visibility: visible;
  }
}

// Loading Placeholder
.placeholder {
  animation: loading 2s ease infinite;
  background-color: $clr-placeholder;
  border-radius: 3px;
  color: transparent;
  padding: 5px;
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
