// Variables
@import "./fonts";
@import "./variables";

// Components
@import "../components/autocomplete.component";

body {
  font-family: "ProximaNova", sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.marker {
  &-image {
    cursor: pointer;
    width: 25px;
  }
}

.cluster-marker {
  align-items: center;
  background-color: #1978c8;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: center;
  padding: 10px;
  transition: 0.1s all ease-in-out;

  &:hover {
    background-color: #135994;
  }

  &-active {
    background-color: #de3a1f;
  }
}

.flight-data {
  background-color: #3c3c3c;
  bottom: 40px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  margin-bottom: -40%;
  opacity: 1;
  padding: 10px;
  position: absolute;
  transition: 0.2s ease-in-out;
  right: calc(50% - 400px);
  visibility: hidden;
  width: 800px;
  z-index: 10000;

  &-enabled {
    margin-bottom: 0;
    visibility: visible;
  }

  &-details {
    flex: 1;

    &-callsign-user {
      display: flex;
      background-color: #5d5d5d;
      justify-content: space-between;
      padding: 10px;

      & > div {
        align-items: center;
        display: flex;

        & > * {
          padding: 0 8px 0 0;
        }
      }

      &-divider {
        font-size: $size-28;
      }
    }

    .grid-container {
      display: grid;
      grid-template-columns: auto auto auto auto;
      grid-gap: 2px;
      margin: 2px 0 0;

      &-item {
        background-color: rgba(93, 93, 93, 0.8);
        text-align: center;
        padding: 14px 0;
        font-size: 30px;

        &-icao {
          display: flex;
          flex-direction: column;
          grid-column: span 2;

          & > div {
            &:first-child {
              font-weight: bold;
            }
            &:last-child {
              font-size: $size-16;
            }
          }
        }

        &-lower-level {
          font-size: $size-18;
          padding: 0;

          & > div {
            &:first-child {
              background-color: rgba(154, 154, 154, 0.8);
              padding: 4px 0;
            }

            &:last-child {
              padding: 10px 0;
            }
          }
        }
      }
    }
  }

  &-close {
    cursor: pointer;
    font-weight: bold;
  }
}

.navigation-menu {
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -44%;
  padding: 10px;
  position: absolute;
  transition: 0.2s ease-in-out;
  width: 20%;
  z-index: 2;

  &-enabled {
    margin-left: 0;
  }

  &-close {
    cursor: pointer;
  }

  &-top {
    display: flex;
    justify-content: space-between;
  }

  &-links {
    display: flex;
    flex-direction: column;

    > .autocomplete {
      margin: 0 0 5px;
    }
  }
}

.navigation-control {
  cursor: pointer;
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 10;
}

.menu {
  cursor: pointer;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 3%;
}

@media only screen and (max-width: 868px) {
  .flight-data {
    right: calc(50% - 250px);
    width: 500px;
  }
}
