.marker {
  &-image {
    cursor: pointer;
    width: 15px;

    &-zoom {
      width: 25px;
    }
  }
}

.cluster-marker {
  align-items: center;
  background-color: #1978c8;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: flex;
  font-family: sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  justify-content: center;
  padding: 10px;
  transition: 0.1s all ease-in-out;

  &:hover {
    background-color: #135994;
  }

  &-active {
    background-color: #de3a1f;
  }
}

.atc-marker {
  position: relative;
  z-index: 5;

  &-container {
    background-color: $clr-white;
    border-radius: 6px;
    box-shadow: 0px 0px 1px 1px #0000001a;
    cursor: pointer;
    display: flex;
    font-size: $size-8;
  }

  &-connection {
    font-weight: bold;
    padding: 5px;

    &:last-child {
      border-radius: 0 6px 6px 0;
    }

    &-TWR {
      background-color: rgb(37, 37, 164);
      color: $clr-white;
    }

    &-ATIS {
      color: $clr-white;
      background-color: rgb(0, 80, 0);
    }

    &-GND {
      background-color: rgb(235, 153, 0);
      color: $clr-white;
    }

    &-APP {
      background-color: rgb(227, 203, 66);
      color: $clr-white;
    }

    &-DEL {
      background-color: rgb(0, 0, 0);
      color: $clr-white;
    }
  }
}
