.mapboxgl-popup {
  font-size: $size-14;
  z-index: 1;

  &-content {
    min-width: 250px;

    &-interior {
      display: flex;
      justify-content: space-between;

      span {
        &:first-child {
          display: block;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:last-child {
          font-weight: bold;
        }
      }
    }
  }

  &-route {
    display: flex;
    flex-direction: row;

    &-arrow {
      padding: 0 5px;
    }
  }
}
