.mapboxgl-popup {
  font-size: $size-14;
  z-index: 1;

  &-content {
    min-width: 250px;

    &-interior {
      padding: 5px 0 0;

      div {
        display: flex;
        justify-content: space-between;
      }

      span {
        font-weight: bold;

        &:first-child {
          display: block;
          font-weight: normal;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }

  &-route {
    display: flex;
    flex-direction: row;

    &-arrow {
      padding: 0 5px;
    }
  }
}
