.navigation-menu {
  background-color: #3c3c3c;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-left: -44%;
  padding: 10px 25px;
  position: absolute;
  transition: 0.2s ease-in-out;
  z-index: 10;

  h5 {
    color: $clr-white;
  }

  &-enabled {
    margin-left: 0;
  }

  &-close {
    cursor: pointer;
  }

  &-top {
    color: $clr-white;
    display: flex;
    justify-content: space-between;
    margin: 0 0 10px;
  }

  &-links {
    display: flex;
    flex-direction: column;

    > .autocomplete {
      margin: 0 0 5px;
    }
  }
}
